*{ margin: 0; padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; outline:0;}

body {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-rendering: optimizeLegibility;min-height: 100vh}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
video {object-fit: cover;}
audio:not([controls]){display:none;height:0}[hidden]{display:none}

html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
a{cursor:pointer;}

img{min-width: 1px;min-height: 1px;border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}

.container, .container-fluid{padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
/* .row{margin-right: -15px;margin-left: -15px;} */
.row:before, .row:after{display: table;content: " ";}
.row:after{clear: both;} 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float: left;}
.col-xs-12{ width: 100%;}
.col-xs-11{ width: 91.66666667%;}
.col-xs-10{ width: 83.33333333%;}
.col-xs-9{  width: 75%;}
.col-xs-8{  width: 66.66666667%;}
.col-xs-7{  width: 58.33333333%;}
.col-xs-6{  width: 50%;}
.col-xs-5{  width: 41.66666667%;}
.col-xs-4{  width: 33.33333333%;}
.col-xs-3{  width: 25%;}
.col-xs-2{  width: 16.66666667%}
.col-xs-1{  width: 8.33333333%;}
.col-xs-offset-12{ margin-left: 100%;}
.col-xs-offset-11{ margin-left: 91.66666667%;}
.col-xs-offset-10{ margin-left: 83.33333333%;}
.col-xs-offset-9{  margin-left: 75%;}
.col-xs-offset-8{  margin-left: 66.66666667%;}
.col-xs-offset-7{  margin-left: 58.33333333%;}
.col-xs-offset-6{  margin-left: 50%;}
.col-xs-offset-5{  margin-left: 41.66666667%;}
.col-xs-offset-4{  margin-left: 33.33333333%;}
.col-xs-offset-3{  margin-left: 25%;}
.col-xs-offset-2{  margin-left: 16.66666667%;}
.col-xs-offset-1{  margin-left: 8.33333333%;}
.col-xs-offset-0{  margin-left: 0;} 

@media screen and (min-width: 768px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float: left;}
	.col-sm-12{ width: 100%;}
	.col-sm-11{ width: 91.66666667%;}
	.col-sm-10{ width: 83.33333333%;}
	.col-sm-9{  width: 75%;}
	.col-sm-8{  width: 66.66666667%;}
	.col-sm-7{  width: 58.33333333%;}
	.col-sm-6{  width: 50%;}
	.col-sm-5{  width: 41.66666667%;}
	.col-sm-4{  width: 33.33333333%;}
	.col-sm-3{  width: 25%;}
	.col-sm-2{  width: 16.66666667%;}
	.col-sm-1{  width: 8.33333333%;}
	.col-sm-offset-12{ margin-left: 100%;}
	.col-sm-offset-11{ margin-left: 91.66666667%;}
	.col-sm-offset-10{ margin-left: 83.33333333%;}
	.col-sm-offset-9{  margin-left: 75%;}
	.col-sm-offset-8{  margin-left: 66.66666667%;}
	.col-sm-offset-7{  margin-left: 58.33333333%;}
	.col-sm-offset-6{  margin-left: 50%;}
	.col-sm-offset-5{  margin-left: 41.66666667%;}
	.col-sm-offset-4{  margin-left: 33.33333333%;}
	.col-sm-offset-3{  margin-left: 25%;}
	.col-sm-offset-2{  margin-left: 16.66666667%;}
	.col-sm-offset-1{  margin-left: 8.33333333%;}
	.col-sm-offset-0{  margin-left: 0;}
}

@media screen and (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
	.col-md-12{ width: 100%;}
	.col-md-11{ width: 91.66666667%;}
	.col-md-10{ width: 83.33333333%;}
	.col-md-9{  width: 75%;}
	.col-md-8{  width: 66.66666667%;}
	.col-md-7{  width: 58.33333333%;}
	.col-md-6{  width: 50%;}
	.col-md-5{  width: 41.66666667%;}
	.col-md-4{  width: 33.33333333%;}
	.col-md-3{  width: 25%;}
	.col-md-2{  width: 16.66666667%;}
	.col-md-1{  width: 8.33333333%;}
	.col-md-offset-12{ margin-left: 100%;}
	.col-md-offset-11{ margin-left: 91.66666667%;}
	.col-md-offset-10{ margin-left: 83.33333333%;}
	.col-md-offset-9{  margin-left: 75%;}
	.col-md-offset-8{  margin-left: 66.66666667%;}
	.col-md-offset-7{  margin-left: 58.33333333%;}
	.col-md-offset-6{  margin-left: 50%;}
	.col-md-offset-5{  margin-left: 41.66666667%;}
	.col-md-offset-4{  margin-left: 33.33333333%;}
	.col-md-offset-3{  margin-left: 25%;}
	.col-md-offset-2{  margin-left: 16.66666667%;}
	.col-md-offset-1{  margin-left: 8.33333333%;}
	.col-md-offset-0{  margin-left: 0;}
}

@media (max-width: 767px){ 
	.hidden-xs{display: none !important;} 
	.centered-xs{
		text-align: center!important; 
		background-position: center!important;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.hidden-sm{display: none !important;} 
	.centered-sm{
		text-align: center!important;
		background-position: center!important;
	}
}
@media (min-width: 992px) and (max-width: 1199px){.hidden-md{display: none !important;}}



.container{ 
	/* max-width: 1140px; */
	max-width: 1630px;
}

@font-face {
    font-family: 'Noe Display';
    src: url('assets/fonts/NoeDisplay-Black.eot');
    src: url('assets/fonts/NoeDisplay-Black.woff2') format('woff2'),
		url('assets/fonts/NoeDisplay-Black.woff') format('woff'),
		/* url('assets/fonts/NoeDisplay-Black.eot?#iefix') format('embedded-opentype'), */
        url('assets/fonts/NoeDisplay-Black.ttf') format('truetype'),
        url('assets/fonts/NoeDisplay-Black.svg#NoeDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('assets/fonts/hinted-Oswald-Regular.eot');
    src: url('assets/fonts/hinted-Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        /* url('assets/fonts/hinted-Oswald-Regular.woff2') format('woff2'), */
        url('assets/fonts/hinted-Oswald-Regular.woff') format('woff'),
        url('assets/fonts/hinted-Oswald-Regular.ttf') format('truetype'),
        url('assets/fonts/hinted-Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('assets/fonts/hinted-Oswald-Light.eot');
    src: url('assets/fonts/hinted-Oswald-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/hinted-Oswald-Light.woff2') format('woff2'),
        url('assets/fonts/hinted-Oswald-Light.woff') format('woff'),
        url('assets/fonts/hinted-Oswald-Light.ttf') format('truetype'),
        url('assets/fonts/hinted-Oswald-Light.svg#Oswald-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}



h1, h2{
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	color: #B7B7B7;
}


body, p {
	font-family: 'Noe Display', serif;
	font-weight: normal;
	font-size: 25px;
	line-height: 30px;
	color: #333;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

	#contactsSection *{
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		font-size: 25px;
		line-height: 30px;
		color: #333;
		text-decoration: none;


		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	a {
		text-decoration: none;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;

		font-family: 'Oswald', sans-serif;
		font-weight: normal;
		font-size: 20px;
		letter-spacing: 2px;
		color: #333333;
	}

	
	#adressSection a{
		text-transform: uppercase;
		white-space: nowrap;
	}

	#adressSection address {
		font-size: 35px;
		line-height: 40px;
	}

	a:hover{ color: #c47c5a!important; }

	#telephone{
		white-space: nowrap;
	}

/* body{ background-color:#F0F0F0; } */
address *{font-style: normal!important;}


/* 
@media screen and (max-width: 768px){
	h1, h1 *, .h1, .tit_H1{font-size: 23px;line-height: 120%;}
	h2, h2 *, .h2, .tit_H2{font-size: 20px;line-height: 120%;}
	h3, h3 *, .h3{font-size: 15px;line-height: 120%;}
}
*/
/* .vhbox{
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
} */

#bannerFullsize{
	margin: 0; padding: 0;
	position: relative;
    z-index: 0;
    overflow: hidden;

    height: 100vh; /* Fallback para não-suporte a Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

    #bannerAnimation {
        width: 100vw;
        height: 100vh;/* Fallback para não-suporte a Custom Properties */
        height: calc(var(--vh, 1vh) * 100);

        position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        z-index:0;
        
        display: block;
        background-color: #D8D8D8;
    }

            #animatedlogo{
                position: fixed;
                top: calc(50% - 50px);
                left: 50%;

                /* top: 374px; */
                /* margin-top: -100px;*/
                margin-left: -255px; 

                z-index: 2;
                fill: #ffffff;

                overflow: visible;
                width: 510px;

                -webkit-animation: changeLogos 1s ease-in-out 3s forwards;
                -moz-animation: changeLogos 1s ease-in-out 3s forwards;
                -o-animation: changeLogos 1s ease-in-out 3s forwards;
                animation: changeLogos 1s ease-in-out 3s forwards;
            }

                #animatedlogo #B{
                    transform: translateX(18%);
                    opacity: 1;
                    -webkit-animation: myanimation1 2s 1s ease-in-out forwards;
                    -moz-animation: myanimation1 2s 1s ease-in-out forwards;
                    -o-animation: myanimation1 2s 1s ease-in-out forwards;
                    animation: myanimation1 2s 1s ease-in-out forwards;
                }

                #animatedlogo #Stone{
                    transform: translateX(50%);
                    opacity: 0;
                    -webkit-animation: myanimation2 2s 1s ease-in-out forwards;
                    -moz-animation: myanimation2 2s 1s ease-in-out forwards;
                    -o-animation: myanimation2 2s 1s ease-in-out forwards;
                    animation: myanimation2 2s 1s ease-in-out forwards;
                }

                #animatedlogo #Rreferencias{
                    transform: translateX(-50%);
                    opacity: 0;
                    -webkit-animation: myanimation3 2s 1s ease-in-out forwards;
                    -moz-animation: myanimation3 2s 1s ease-in-out forwards;
                    -o-animation: myanimation3 2s 1s ease-in-out forwards;
                    animation: myanimation3 2s 1s ease-in-out forwards;
                }


    
	#bannerImage{
        -webkit-animation: changeLogos2 2s 5s cubic-bezier(0, .5, 0, 1) forwards;
		-moz-animation: changeLogos2 2s 5s cubic-bezier(0, .5, 0, 1) forwards;
		-o-animation: changeLogos2 2s 5s cubic-bezier(0, .5, 0, 1) forwards;
        animation: changeLogos2 2s 5s cubic-bezier(0, .5, 0, 1) forwards;
        
		width: 100vw;
        height: 100vh; /* Fallback para não-suporte a Custom Properties */
        height: calc(var(--vh, 1vh) * 100);

        /* min-height: 100vh;
        min-height: -webkit-fill-available; */
		position: relative;
		z-index: 2;

		background: url(assets/images/BlocoB-7234_Banner.jpg) no-repeat; 

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		background-position: center center;

        opacity: 0;
	}


        #bannerImage::before{
            -webkit-animation: changeLogos2 .3s 6.1s cubic-bezier(0, .5, 0, 1) forwards;
            -moz-animation: changeLogos2 .3s 6.1s cubic-bezier(0, .5, 0, 1) forwards;
            -o-animation: changeLogos2 .3s 6.1s cubic-bezier(0, .5, 0, 1) forwards;
            animation: changeLogos2 .3s 6.1s cubic-bezier(0, .5, 0, 1) forwards;
            
            display: block;
            content: '';
            position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            z-index: 3;
            
            width: 100%;
            height: 100%;

            background: rgba(0, 0, 0, 0.15);
            opacity: 0;
        }
        
        #bannerImage::after{
            
            content: '';
            position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            z-index: 3;

            width: 100%;
            height: 100%;

            opacity: 0;
            
            /* background-image: url(assets/intro_logo.png); */
            background-image: url(assets/intro_logo.svg);
            background-repeat: no-repeat; 
            background-position: center center;
            background-attachment: fixed; 

            -webkit-background-size: 510px;
            -moz-background-size: 510px;
            -o-background-size: 510px;
            background-size: 510px;

            -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 55.61%, 65.58% 55.93%, 34.29% 99.70%, 0px 100%);
            -o-clip-path: polygon(0px 0px, 100% 0px, 100% 55.61%, 65.58% 55.93%, 34.29% 99.70%, 0px 100%);
            -ms-clip-path: polygon(0px 0px, 100% 0px, 100% 55.61%, 65.58% 55.93%, 34.29% 99.70%, 0px 100%);
            clip-path: polygon(0px 0px, 100% 0px, 100% 55.61%, 65.58% 55.93%, 34.29% 99.70%, 0px 100%);

            -webkit-animation: changeLogos2 .3s cubic-bezier(0, .5, 0, 1) 6s forwards;
            -moz-animation: changeLogos2 .3s cubic-bezier(0, .5, 0, 1) 6s forwards;
            -o-animation: changeLogos2 .3s cubic-bezier(0, .5, 0, 1) 6s forwards;
            animation: changeLogos2 .3s cubic-bezier(0, .5, 0, 1) 6s forwards;
        }

	
	.line{
		position: absolute;
        background: rgba(240, 240, 240, 0.3);
        z-index: 4;
        display: block;
        opacity: 0;
	}

		.horizontalLine{
            top: 0;
            left:0;
            right: 0;

			width: 100%;
			height: 1px;
            
            -webkit-animation: horizontalLineAnim 2s ease-in-out 7s forwards;
            -moz-animation: horizontalLineAnim 2s ease-in-out 7s forwards;
            -o-animation: horizontalLineAnim 2s ease-in-out 7s forwards;
            animation: horizontalLineAnim 2s ease-in-out 7s forwards;
		}
		.verticalLeftLine{
            top:0;
            bottom: 0;
            left: 0;
            
			width: 1px;
			height: 100vh;

            -webkit-animation: verticalLineAnim 2s ease-in-out 7s forwards;
            -moz-animation: verticalLineAnim 2s ease-in-out 7s forwards;
            -o-animation: verticalLineAnim 2s ease-in-out 7s forwards;
            animation: verticalLineAnim 2s ease-in-out 7s forwards;
		}
		.verticalRightLine{
            top:0;
            bottom: 0;
            right: 0;
            
			width: 1px;
			height: 100vh;

            -webkit-animation: verticalLineAnim2 2s ease-in-out 6s forwards;
            -moz-animation: verticalLineAnim2 2s ease-in-out 6s forwards;
            -o-animation: verticalLineAnim2 2s ease-in-out 6s forwards;
            animation: verticalLineAnim2 2s ease-in-out 6s forwards;
        }
        

@media (max-width: 767px){
        
    #bannerImage::after{
        background-size: 300px;
        clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 0px 100%);
    }

    #animatedlogo{ 
        width: 300px;
        margin-left: -150px;
        margin-top: -8px;
    }
}

@media only screen and (device-width: 768px) {

    #bannerImage::after{
        background-size: 300px;
        background-attachment: initial;
    }

    #animatedlogo{ 
        width: 300px;
        margin-left: -150px;
        margin-top: -8px;
    }
    
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    #bannerImage::after{background-attachment: initial;}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #bannerImage::after{background-attachment: initial;}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #bannerImage::after{background-attachment: initial;}
}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #bannerImage::after{background-attachment: initial;}
}



/* PRODUCT */
.productsList{
    background-color: #F0F0F0;
    background-image: url(assets/B_Simbolo_estatico_Corpo.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 65% bottom;

    -webkit-background-size: 200px;
    -moz-background-size: 200px;
    -o-background-size: 200px;
    background-size: 200px;

    padding-top: 230px;
}

    .productsList::before {
        content: "";
        display: block;
        background: linear-gradient(to bottom, rgba(240, 240, 240, 0), #F0F0F0);
        width: 100%;
        height: 100px;
    }

    .productsList .container {
        background-color: #F0F0F0;
        max-width: 1000px;

    }

.product{
    position: relative;
    transform: translateZ(.25px);	
}

    .product .containerImage{
        width: 200px;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;
    }


        .product .containerImage img{
            margin-left: -50px;
            opacity: 0;

            -webkit-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
            -moz-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
            -o-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
            transition: all 0.5s cubic-bezier(0, .5, 0, 1);
        }

        .product .containerImage img.lazyloaded{
            opacity: 1; 
            /* -webkit-transition: all 2s 0.5s cubic-bezier(0, .5, 0, 1);
            -moz-transition: all 2s 0.5s cubic-bezier(0, .5, 0, 1);
            -o-transition: all 2s 0.5s cubic-bezier(0, .5, 0, 1);
            transition: all 2s 0.5s cubic-bezier(0, .5, 0, 1); */
        }

    .product .productName{
        width: 155px;
        position: absolute;
        right: -20px;
        top: 210px;
        z-index: 2;
        text-align: left;
        
        -webkit-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
        -moz-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
        -o-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
        transition: all 0.5s cubic-bezier(0, .5, 0, 1);
    }

        .product .productName:before{
            content: '';
            display: block;
            width: 32px;
            height: 1px;
            background: #333;
            display: block;
            position: absolute;
                top: 12px;
                left: -10px;
        }

        .product .productName span{
            position: relative;
            display: inline-block;
            padding: 1px 10px;
        }


        .product .productName span:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;

            background-color: rgba(240, 240, 240, 1); 
            width: 100%;
            
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; 
        }

        .product .productName span:first-of-type{
            padding-left: 20px;
            margin-left: 10px;
        }


    .product:nth-of-type(2n){
        margin-top: 250px;
        transform: translateZ(.7px) scale(1);
    }

    .product:nth-of-type(2n) .productName{
        top: 40px;
    }


.product:hover .containerImage img{ transform: scale(1.1); }
.product:hover .productName{ top: 115px; cursor: default;}



@media (max-width: 767px) { 

    .productsList{
        padding-bottom: 40px;
    }
    .product{
        margin: 40px auto 0!important;
        max-width: 60%;
    }
    
        .product .containerImage{
            width: 100%;
            max-width: 250px;
            height: 300px;
        }

            /* .product .productImage{
                width: 100%;
                height: 373px;
            } */

        .product .productName,
        .product:nth-of-type(2n) .productName{
            /* top: 115px!important; */
            top: -22px!important;
            left: 50%;
            right: auto;
            margin-left: -78px;
            text-align: center;
        }            

            .product .productName:before{
                height: 0px;
            }

            .product .productName span{
                text-align: center;
                margin: 0 auto;
            }

            .product .productName span:before{
                background-color: rgba(240, 240, 240, 1); 
                width: 100%;
            }

            .product .productName span:first-of-type{
                padding-left: 10px;
                margin-left:0;
            }

            .product:nth-of-type(2n),
            .product.fixingLast{
                /* margin-top: 40px; */
                transform: translate3d(0,0,0) !important;
            }
}

/* CONTACTS */
#adressSection,
#contactsSection{
	background-color: #FFF;
	background-image: url(assets/B_Simbolo_estatico_Contactos.svg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: 220px 130%;
	
	-webkit-background-size: 450px;
	-moz-background-size: 450px;
	-o-background-size: 450px;
	background-size: 450px;

	padding: 220px 0;
	position: relative;
}

	#adressSection .adressContainer h2{
		height: 70px;
	}

	#adressSection .seeOnMap{
		margin-top: 70px;
		display: table;
		text-align: left;
	}

		#adressSection .seeOnMap span{
			display: table-cell;
			vertical-align: middle;
			/* max-width: 110px; */
			/* padding-top: 0;
			margin-top: 0; */
			width: 97px;
			line-height: 15px;
		}

		/* #adressSection .seeOnMap .icon{
			overflow: hidden;
		} */
		#adressSection .seeOnMap .icon svg{
			width: 250px; 
			height: 35px;
			/* background: url(assets/Seta_on.svg) no-repeat; */
		}


		.svgpath{
			fill: none;
			stroke:#333;
			stroke-width:2;
			
			-webkit-transition: all 0.2s cubic-bezier(0, .5, 0, 1);
			-moz-transition: all 0.2s cubic-bezier(0, .5, 0, 1);
			-o-transition: all 0.2s cubic-bezier(0, .5, 0, 1);
			transition: all 0.2s cubic-bezier(0, .5, 0, 1);
		}

		.arrow {opacity: 0;}

		/* #adressSection .seeOnMap:hover .svgpath{
			stroke: #c47c5a;
		} */

		#adressSection .seeOnMap .svgpath.pathInitial{
			stroke-dasharray: 200;
		}

		#adressSection .seeOnMap:hover .svgpath.pathInitial{
			animation: dash 0.2s ease forwards;
		}

		#adressSection .seeOnMap:hover .svgpath.arrow{
			opacity: 1;
			animation: dash 0.2s ease forwards;
		}

		@keyframes dash {
			0% {
				stroke-dasharray: 200;
			}
			100%{
				stroke-dasharray: 240;
			}
		  }
		


#contactsSection{
	border-top: 1px solid #DDD;
	padding: 145px 0;
}

	#contactsSection .row{
		margin-bottom: 10px;
	}

	#contactsSection p,
	#contactsSection a{
		display: inline-block;
		padding-right: 45px;
		
	}

	#contactsSection p{margin-left: -65px;}


/* Vertical Line */
	#adressSection::before,
	#adressSection::after,
	#contactsSection::before,
	#contactsSection::after{
		content: '';
		position: absolute;
			top: 0;
			bottom: 0;
		width: 1px;
		height: 100%;
		background-color: #DDD;
	}

	#adressSection::before,
	#contactsSection::before{ left: 21%; }


@media (max-width: 768px) { 
	
	#adressSection{ padding: 70px 10px;}

		#adressSection .seeOnMap{color: #c47c5a; margin-bottom: 70px;}
		#adressSection .seeOnMap .icon svg {
			width: 160px;
			height: 51px;
		}
		#adressSection .seeOnMap .svgpath.pathInitial{stroke-dasharray: 240;}
		#adressSection .seeOnMap .svgpath.arrow{opacity: 1;}

		#adressSection .adressContainer h2 {height: 55px;}

	#contactsSection{ padding: 70px 10px 140px;}

	#contactsSection p{text-align: left;}

}

@media (max-width: 991px){

		#adressSection::before,
		#adressSection::after,
		#contactsSection::before,
		#contactsSection::after {
			display: none;
		}
}


@media only screen and (device-width: 768px) {
    #adressSection address{font-size: 32px;}
}

/* FOOTER */
footer{
	background: #2A2A2A;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
}

footer .logoFooter{
	display: block;
	/* width: 210px; */
	height: 50px;
	background: url(assets/logo_footer.svg) no-repeat 20px;
}

footer .scrollButton{
	position: absolute;
	top: -34px;
	left: 50%;
	margin-left: -35px;
	display: block;
	width: 67px;
	height: 67px;

	-webkit-transition: all 0.2s cubic-bezier(0, .5, 0, 1);
	-moz-transition: all 0.2s cubic-bezier(0, .5, 0, 1);
	-o-transition: all 0.2s cubic-bezier(0, .5, 0, 1);
	transition: all 0.2s cubic-bezier(0, .5, 0, 1);

	background: url(assets/scrollTop.svg) no-repeat center center;
}

	footer .scrollButton:hover{
		width: 73px;
		height: 73px;
		top: -36px;
		margin-left: -38px;
		background: url(assets/scrollTop-hover.svg) no-repeat center center;
	}

	
	footer .social-icons{text-align: right;}
	footer .social-icons a{
		display: inline-block;
		width: 50px;
		height: 50px;
		margin-left: 10px;

		-webkit-transition: all 0.4s cubic-bezier(0, .5, 0, 1);
		-moz-transition: all 0.4s cubic-bezier(0, .5, 0, 1);
		-o-transition: all 0.4s cubic-bezier(0, .5, 0, 1);
		transition: all 0.4s cubic-bezier(0, .5, 0, 1);

		background-position: center center;
		line-height: 0;
		
		background-color: #666;
	}

	.social-icons a.fb{
		/* background: url(assets/social/icon_face.svg) no-repeat center center; */
		-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.926" height="16.926" viewBox="0 0 16.926 16.926"><path d="M14.647,0H2.283A2.281,2.281,0,0,0,0,2.281V14.645a2.281,2.281,0,0,0,2.281,2.281h6.1l.01-6.048H6.82a.371.371,0,0,1-.371-.369l-.008-1.95a.371.371,0,0,1,.371-.372H8.381V6.3a3.078,3.078,0,0,1,3.285-3.377h1.6a.371.371,0,0,1,.371.371V4.941a.371.371,0,0,1-.371.371h-.982c-1.061,0-1.266.5-1.266,1.244V8.186h2.331a.371.371,0,0,1,.368.414l-.231,1.95a.371.371,0,0,1-.368.327H11.029l-.01,6.048h3.628a2.281,2.281,0,0,0,2.281-2.281V2.281A2.281,2.281,0,0,0,14.647,0Z" transform="translate(-0.002)"/></svg>') no-repeat center center;
		mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.926" height="16.926" viewBox="0 0 16.926 16.926"><path d="M14.647,0H2.283A2.281,2.281,0,0,0,0,2.281V14.645a2.281,2.281,0,0,0,2.281,2.281h6.1l.01-6.048H6.82a.371.371,0,0,1-.371-.369l-.008-1.95a.371.371,0,0,1,.371-.372H8.381V6.3a3.078,3.078,0,0,1,3.285-3.377h1.6a.371.371,0,0,1,.371.371V4.941a.371.371,0,0,1-.371.371h-.982c-1.061,0-1.266.5-1.266,1.244V8.186h2.331a.371.371,0,0,1,.368.414l-.231,1.95a.371.371,0,0,1-.368.327H11.029l-.01,6.048h3.628a2.281,2.281,0,0,0,2.281-2.281V2.281A2.281,2.281,0,0,0,14.647,0Z" transform="translate(-0.002)"/></svg>') no-repeat center center;
	}

	.social-icons a.in{
		/* background: url(assets/social/icon_Insta.svg) no-repeat center center */

		-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18.769" height="18.769" viewBox="0 0 18.769 18.769"><path d="M13.178,0H5.591A5.6,5.6,0,0,0,0,5.591v7.586a5.6,5.6,0,0,0,5.591,5.591h7.586a5.6,5.6,0,0,0,5.591-5.591V5.591A5.6,5.6,0,0,0,13.178,0Zm3.7,13.178a3.7,3.7,0,0,1-3.7,3.7H5.591a3.7,3.7,0,0,1-3.7-3.7V5.591a3.7,3.7,0,0,1,3.7-3.7h7.586a3.7,3.7,0,0,1,3.7,3.7v7.586Z" /><path d="M137.854,133a4.854,4.854,0,1,0,4.854,4.854A4.86,4.86,0,0,0,137.854,133Zm0,7.821a2.966,2.966,0,1,1,2.966-2.966A2.966,2.966,0,0,1,137.854,140.821Z" transform="translate(-128.47 -128.47)"/><ellipse cx="1.163" cy="1.163" rx="1.163" ry="1.163" transform="translate(13.085 3.403)"/></svg>') no-repeat center center;
		mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18.769" height="18.769" viewBox="0 0 18.769 18.769"><path d="M13.178,0H5.591A5.6,5.6,0,0,0,0,5.591v7.586a5.6,5.6,0,0,0,5.591,5.591h7.586a5.6,5.6,0,0,0,5.591-5.591V5.591A5.6,5.6,0,0,0,13.178,0Zm3.7,13.178a3.7,3.7,0,0,1-3.7,3.7H5.591a3.7,3.7,0,0,1-3.7-3.7V5.591a3.7,3.7,0,0,1,3.7-3.7h7.586a3.7,3.7,0,0,1,3.7,3.7v7.586Z" /><path d="M137.854,133a4.854,4.854,0,1,0,4.854,4.854A4.86,4.86,0,0,0,137.854,133Zm0,7.821a2.966,2.966,0,1,1,2.966-2.966A2.966,2.966,0,0,1,137.854,140.821Z" transform="translate(-128.47 -128.47)"/><ellipse cx="1.163" cy="1.163" rx="1.163" ry="1.163" transform="translate(13.085 3.403)"/></svg>') no-repeat center center;
	}
	
	.social-icons a.pi{
		/* background: url(assets/social/icon_Pint.svg) no-repeat center center */

		-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18.847" height="18.878" viewBox="0 0 18.847 18.878"><path d="M9.431,0A9.434,9.434,0,0,0,5.992,18.218a9.08,9.08,0,0,1,.031-2.709c.171-.737,1.1-4.688,1.1-4.688a3.435,3.435,0,0,1-.279-1.4c0-1.312.761-2.29,1.708-2.29a1.185,1.185,0,0,1,1.2,1.327A18.647,18.647,0,0,1,8.965,11.6a1.372,1.372,0,0,0,1.4,1.708c1.677,0,2.965-1.77,2.965-4.316A3.722,3.722,0,0,0,9.385,5.162,4.082,4.082,0,0,0,5.123,9.253a3.681,3.681,0,0,0,.7,2.15.281.281,0,0,1,.062.272c-.07.295-.233.939-.264,1.071-.039.171-.14.21-.318.124A4.225,4.225,0,0,1,3.384,9.214c0-2.973,2.158-5.705,6.233-5.705a5.535,5.535,0,0,1,5.814,5.449c0,3.252-2.049,5.868-4.89,5.868a2.506,2.506,0,0,1-2.158-1.087l-.59,2.243a10.275,10.275,0,0,1-1.172,2.476A9.44,9.44,0,1,0,9.431,0Z"/></svg>') no-repeat center center;
		mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18.847" height="18.878" viewBox="0 0 18.847 18.878"><path d="M9.431,0A9.434,9.434,0,0,0,5.992,18.218a9.08,9.08,0,0,1,.031-2.709c.171-.737,1.1-4.688,1.1-4.688a3.435,3.435,0,0,1-.279-1.4c0-1.312.761-2.29,1.708-2.29a1.185,1.185,0,0,1,1.2,1.327A18.647,18.647,0,0,1,8.965,11.6a1.372,1.372,0,0,0,1.4,1.708c1.677,0,2.965-1.77,2.965-4.316A3.722,3.722,0,0,0,9.385,5.162,4.082,4.082,0,0,0,5.123,9.253a3.681,3.681,0,0,0,.7,2.15.281.281,0,0,1,.062.272c-.07.295-.233.939-.264,1.071-.039.171-.14.21-.318.124A4.225,4.225,0,0,1,3.384,9.214c0-2.973,2.158-5.705,6.233-5.705a5.535,5.535,0,0,1,5.814,5.449c0,3.252-2.049,5.868-4.89,5.868a2.506,2.506,0,0,1-2.158-1.087l-.59,2.243a10.275,10.275,0,0,1-1.172,2.476A9.44,9.44,0,1,0,9.431,0Z"/></svg>') no-repeat center center;
	
	}
	
	.social-icons a.yt{
		/* background: url(assets/social/icon_Youtube.svg) no-repeat center center */

		-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22.023" height="15.583" viewBox="0 0 22.023 15.583"><path d="M17.449,67.393H4.574A4.574,4.574,0,0,0,0,71.967V78.4a4.574,4.574,0,0,0,4.574,4.574H17.449A4.574,4.574,0,0,0,22.023,78.4V71.967A4.574,4.574,0,0,0,17.449,67.393ZM14.356,75.5,8.333,78.37a.242.242,0,0,1-.346-.218V72.228a.242.242,0,0,1,.351-.216l6.022,3.052A.242.242,0,0,1,14.356,75.5Z" transform="translate(0 -67.393)"/></svg>') no-repeat center center;
		mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22.023" height="15.583" viewBox="0 0 22.023 15.583"><path d="M17.449,67.393H4.574A4.574,4.574,0,0,0,0,71.967V78.4a4.574,4.574,0,0,0,4.574,4.574H17.449A4.574,4.574,0,0,0,22.023,78.4V71.967A4.574,4.574,0,0,0,17.449,67.393ZM14.356,75.5,8.333,78.37a.242.242,0,0,1-.346-.218V72.228a.242.242,0,0,1,.351-.216l6.022,3.052A.242.242,0,0,1,14.356,75.5Z" transform="translate(0 -67.393)"/></svg>') no-repeat center center;
	}
	
	.social-icons a.lk{
		/* background: url(assets/social/icon_linkedin.svg) no-repeat center center */
		-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.728" height="16.926" viewBox="0 0 16.728 16.926"><path d="M648.266,217H634.911a1.689,1.689,0,0,0-1.686,1.692v13.542a1.689,1.689,0,0,0,1.686,1.692h13.355a1.689,1.689,0,0,0,1.686-1.692V218.7A1.689,1.689,0,0,0,648.266,217ZM638.592,230.4h-2.25v-7.24h2.25Zm-1.14-8.129a1.128,1.128,0,1,1,1.214-1.125A1.122,1.122,0,0,1,637.452,222.268Zm9.357,8.129h-2.25v-4.012c0-.933-.326-1.569-1.14-1.569a1.236,1.236,0,0,0-1.155.844,1.618,1.618,0,0,0-.074.563V230.4h-2.25v-4.93c0-.9-.029-1.658-.059-2.31h1.954l.1,1.007h.044a2.6,2.6,0,0,1,2.236-1.17c1.48,0,2.591.992,2.591,3.124Z" transform="translate(-633.225 -217.004)"/></svg>') no-repeat center center;
		mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.728" height="16.926" viewBox="0 0 16.728 16.926"><path d="M648.266,217H634.911a1.689,1.689,0,0,0-1.686,1.692v13.542a1.689,1.689,0,0,0,1.686,1.692h13.355a1.689,1.689,0,0,0,1.686-1.692V218.7A1.689,1.689,0,0,0,648.266,217ZM638.592,230.4h-2.25v-7.24h2.25Zm-1.14-8.129a1.128,1.128,0,1,1,1.214-1.125A1.122,1.122,0,0,1,637.452,222.268Zm9.357,8.129h-2.25v-4.012c0-.933-.326-1.569-1.14-1.569a1.236,1.236,0,0,0-1.155.844,1.618,1.618,0,0,0-.074.563V230.4h-2.25v-4.93c0-.9-.029-1.658-.059-2.31h1.954l.1,1.007h.044a2.6,2.6,0,0,1,2.236-1.17c1.48,0,2.591.992,2.591,3.124Z" transform="translate(-633.225 -217.004)"/></svg>') no-repeat center center;
	}

	.social-icons a:hover {
		background-color: #fff;
	}

	
    .container.cofinancedby{
		border-top: 1px solid #555;
		margin-top: 16px;
		padding: 18px 0;
	}
	.container.cofinancedby .row{
		max-width: 870px;
		margin: 0 auto;
	}

    .container.cofinancedby a{
        width: 355px;
        height: 65px;
        display: block;
        text-decoration: none;
		background: url(assets/cofinanced1.svg) no-repeat;
		opacity: .7;
    }
    .container.cofinancedby a.cofinance2{
		background: url(assets/cofinanced2.svg) no-repeat;
		float: right;
	}

	.container.cofinancedby a:hover{
		opacity: 1;
	}



	
	@media (max-width: 767px) { 
		
		footer{
			padding-top: 40px;
			padding-bottom: 40px;
		}

			footer .logoFooter,
			footer .social-icons{
				margin: 30px 0;
			}
			footer .social-icons a{ 
				width: 60px;
				height: 60px;
				margin-top: 20px;
				background-size: 30px!important;
			}

			
	}

	@media (max-width: 980px) { 
		.container.cofinancedby a.cofinance1,
			.container.cofinancedby a.cofinance2{
				float: none;
				margin: 15px auto 0;
			}
	}

    .js-loading *,
    .js-loading *:before,
    .js-loading *:after { animation-play-state: paused !important; }
    
    html { overflow-y: hidden; }
    
    /* Animation 1 */
    
    @-webkit-keyframes myanimation1 {
        0%, 3%, 45% { 
            transform: translateX(18%); 
        }
        60%, 80%{
            transform: translateX(-18%); 
        }
        100% { 
            transform: translateX(0);
        }
    }
    
    @-moz-keyframes myanimation1 {
        0%, 3%, 45% { 
            transform: translateX(18%); 
        }
        60%, 80%{
            transform: translateX(-18%); 
        }
        100% { 
            transform: translateX(0);
        }
    }
    
    @-ms-keyframes myanimation1 {
        0%, 3%, 45% { 
            transform: translateX(18%); 
        }
        60%, 80%{
            transform: translateX(-18%); 
        }
        100% { 
            transform: translateX(0);
        }
    }
    
    @keyframes myanimation1 {
        0%, 3%, 45% { 
            transform: translateX(18%); 
        }
        60%, 80%{
            transform: translateX(-18%); 
        }
        100% { 
            transform: translateX(0);
        }
    }
    
    /* Animation 2 */
    
    @-webkit-keyframes myanimation2 {
        0% , 20% { 
            opacity: 0; 
        }
        45% { 
            transform: translateX(18%); 
            opacity: 1; 
        }
        60%, 80% { 
            transform: translateX(-18%); 
            opacity: 1; 
        }
        100% { 
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    
    @-moz-keyframes myanimation2 {
        0% , 20% { 
            opacity: 0; 
        }
        45% { 
            transform: translateX(18%); 
            opacity: 1; 
        }
        60%, 80% { 
            transform: translateX(-18%); 
            opacity: 1; 
        }
        100% { 
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    
    @-ms-keyframes myanimation2 {
        0% , 20% { 
            opacity: 0; 
        }
        45% { 
            transform: translateX(18%); 
            opacity: 1; 
        }
        60%, 80% { 
            transform: translateX(-18%); 
            opacity: 1; 
        }
        100% { 
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    
    @keyframes myanimation2 {
        0% , 20% { 
            opacity: 0; 
        }
        45% { 
            transform: translateX(18%); 
            opacity: 1; 
        }
        60%, 80% { 
            transform: translateX(-18%); 
            opacity: 1; 
        }
        100% { 
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    
    
    /* Animation 3 */
    
    @-webkit-keyframes myanimation3 {
        0%, 20%, 65% { 
            transform: translateX(-80%); 
            opacity: 0; 
        }
        100% { 
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    
    @-moz-keyframes myanimation3 {
        0%, 20%, 65% { 
            transform: translateX(-80%); 
            opacity: 0; 
        }
        100% { 
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    
    @-ms-keyframes myanimation3 {
        0%, 20%, 65% { 
            transform: translateX(-80%); 
            opacity: 0; 
        }
        100% { 
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    
    @keyframes myanimation3 {
        0%, 20%, 65% { 
            transform: translateX(-80%); 
            opacity: 0; 
        }
        100% { 
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    
    
    
    
    
    /* Animation Lines */
    
    
    @-webkit-keyframes horizontalLineAnim {
        0% { top: 0;}
        100% { top: 23%; opacity: 1;}
    }
    
    @-moz-keyframes horizontalLineAnim {
        0% { top: 0;}
        100% { top: 23%; opacity: 1;}
    }
    
    @-ms-keyframes horizontalLineAnim {
        0% { top: 0;}
        100% { top: 23%; opacity: 1;}
    }
    
    @keyframes horizontalLineAnim {
        0% { top: 0;}
        100% { top: 23%; opacity: 1;}
    }
    
    
    /* ---- */
    
    @-webkit-keyframes verticalLineAnim {
        0% { left: 0;}
        100% { left: 21%; opacity: 1;}
    }
    
    @-moz-keyframes verticalLineAnim {
        0% { left: 0;}
        100% { left: 21%; opacity: 1;}
    }
    
    @-ms-keyframes verticalLineAnim {
        0% { left: 0;}
        100% { left: 21%; opacity: 1;}
    }
    
    @keyframes verticalLineAnim {
        0% { left: 0;}
        100% { left: 21%; opacity: 1;}
    }
    
    
    /* ----- */
    
    @-webkit-keyframes verticalLineAnim2 {
        0% { right: 0;}
        100% { right: 7%; opacity: 1;}
    }
    
    @-moz-keyframes verticalLineAnim2 {
        0% { right: 0;}
        100% { right: 7%; opacity: 1;}
    }
    
    @-ms-keyframes verticalLineAnim2 {
        0% { right: 0;}
        100% { right: 7%; opacity: 1;}
    }
    
    @keyframes verticalLineAnim2 {
        0% { right: 0;}
        100% { right: 7%; opacity: 1;}
    }
    
    
    
    
    /* Animation Logos */
    
    @-webkit-keyframes changeLogos {
        0% { 
            opacity: 1;
            transform: none;
        }
        100% { 
            opacity: 0; 
            transform: translateY(2rem);
            display: none;
            
        }
    }
    
    @-moz-keyframes changeLogos {
        0% { 
            opacity: 1;
            transform: none;
        }
        100% { 
            opacity: 0; 
            transform: translateY(2rem);
            display: none;
            
        }
    }
    
    @-ms-keyframes changeLogos {
        0% { 
            opacity: 1;
            transform: none;
        }
        100% { 
            opacity: 0; 
            transform: translateY(2rem);
            display: none;
            
        }
    }
    
    @keyframes changeLogos {
        0% { 
            opacity: 1;
            transform: none;
        }
        100% { 
            opacity: 0; 
            transform: translateY(2rem);
            display: none;
            
        }
    }
    
    /* --- */
    
    @-webkit-keyframes changeLogos2 {
        0% { 
            display: block;
            opacity: 0;
            transform: translateY(-2rem);
        }
        100% { 
            opacity: 1;
            display: block;
            transform: none;
        }
    }
    
    @-moz-keyframes changeLogos2 {
        0% { 
            display: block;
            opacity: 0;
            transform: translateY(-2rem);
        }
        100% { 
            opacity: 1;
            display: block;
            transform: none;
        }
    }
    
    @-ms-keyframes changeLogos2 {
        0% { 
            display: block;
            opacity: 0;
            transform: translateY(-2rem);
        }
        100% { 
            opacity: 1;
            display: block;
            transform: none;
        }
    }
    
    @keyframes changeLogos2 {
        0% { 
            display: block;
            opacity: 0;
            transform: translateY(-2rem);
        }
        100% { 
            opacity: 1;
            display: block;
            transform: none;
        }
    }

/* IE */
.ie-fallback.ie9 #animatedlogo{
    top: 374px!important;
}

.ie-fallback.ie9 #bannerImage,
.ie-fallback.ie9 #bannerImage::before,
.ie-fallback.ie9 #bannerImage::after{
    opacity: 1!important;
}

.ie-fallback .productsList{
    background-image: url(assets/ie/b_simbolo_estatico_corpo.png);
}

.ie-fallback #adressSection,
.ie-fallback #contactsSection{
    background-image: url(assets/ie/simbolo_b_estatico_contactos.png);
}

.ie-fallback .social-icons a{background-size: 20px!important;}
.ie-fallback .social-icons a.fb{background: url(assets/social/icon_face.svg) no-repeat center center}
.ie-fallback .social-icons a.in{background: url(assets/social/icon_Insta.svg) no-repeat center center}
.ie-fallback .social-icons a.pi{background: url(assets/social/icon_Pint.svg) no-repeat center center}
.ie-fallback .social-icons a.yt{background: url(assets/social/icon_Youtube.svg) no-repeat center center}
.ie-fallback .social-icons a.lk{background: url(assets/social/icon_linkedin.svg) no-repeat center center}

.ie-fallback .social-icons a.fb:hover{background: url(assets/social/icon_face-hover.svg) no-repeat center center}
.ie-fallback .social-icons a.in:hover{background: url(assets/social/icon_Insta-hover.svg) no-repeat center center}
.ie-fallback .social-icons a.pi:hover{background: url(assets/social/icon_Pint-hover.svg) no-repeat center center}
.ie-fallback .social-icons a.yt:hover{background: url(assets/social/icon_Youtube-hover.svg) no-repeat center center}
.ie-fallback .social-icons a.lk:hover{background: url(assets/social/icon_linkedin-hover.svg) no-repeat center center}