#adressSection{
	background: #FFF url(assets/B_Simbolo_estatico_Contactos.svg) no-repeat 230px 400px fixed;
	
	-webkit-background-size: 450px;
	-moz-background-size: 450px;
	-o-background-size: 450px;
	background-size: 450px;

	padding:220px 0;
}

	#adressSection address h2{
		height: 70px;
	}

	#adressSection .seeOnMap{
		margin-top: 70px;
	}

#contactsSection{
	background: #FFF url(assets/B_Simbolo_estatico_Contactos.svg) no-repeat 230px 400px fixed;

	-webkit-background-size: 450px;
	-moz-background-size: 450px;
	-o-background-size: 450px;
	background-size: 450px;

	border-top: 1px solid #DDD;
	padding: 145px 0;
}

	#contactsSection .row{
		margin-bottom: 10px;
	}