.productsList{
    background: url(assets/B_Simbolo_estatico_Corpo.svg) no-repeat 65% bottom fixed;
    background-color: #F0F0F0;
    -webkit-background-size: 200px;
    -moz-background-size: 200px;
    -o-background-size: 200px;
    background-size: 200px;

    padding-top: 230px;
}

    .productsList::before {
        content: "";
        display: block;
        background: linear-gradient(to bottom, rgba(240, 240, 240, 0), #F0F0F0);
        width: 100%;
        height: 100px;
    }

    .productsList .container {
        background-color: #F0F0F0;
        max-width: 1000px;

    }

.product{
    position: relative;
    transform: translateZ(.25px);	
}

    .product .containerImage{
        width: 200px;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;
    }


        .product .containerImage img{
            margin-left: -50px;
            opacity: 0;

            -webkit-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
            -moz-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
            -o-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
            transition: all 0.5s cubic-bezier(0, .5, 0, 1);
        }

        .product .containerImage img.lazyloaded{
            opacity: 1; 
            /* -webkit-transition: all 2s 0.5s cubic-bezier(0, .5, 0, 1);
            -moz-transition: all 2s 0.5s cubic-bezier(0, .5, 0, 1);
            -o-transition: all 2s 0.5s cubic-bezier(0, .5, 0, 1);
            transition: all 2s 0.5s cubic-bezier(0, .5, 0, 1); */
        }

    .product .productName{
        width: 155px;
        position: absolute;
        right: -20px;
        top: 210px;
        z-index: 2;
        text-align: left;
        
        -webkit-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
        -moz-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
        -o-transition: all 0.5s cubic-bezier(0, .5, 0, 1);
        transition: all 0.5s cubic-bezier(0, .5, 0, 1);
    }

        .product .productName:before{
            content: '';
            display: block;
            width: 32px;
            height: 1px;
            background: #333;
            display: block;
            position: absolute;
                top: 12px;
                left: -10px;
        }

        .product .productName span{
            position: relative;
            display: inline-block;
            padding: 1px 10px;
        }


        .product .productName span:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;

            background-color: rgba(240, 240, 240, 1); 
            width: 100%;
            
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; 
        }

        .product .productName span:first-of-type{
            padding-left: 20px;
            margin-left: 10px;
        }


    .product:nth-of-type(2n){
        margin-top: 250px;
        transform: translateZ(.7px) scale(1);
    }

    .product:nth-of-type(2n) .productName{
        top: 40px;
    }


.product:hover .containerImage img{ transform: scale(1.1); }
.product:hover .productName{ top: 115px; cursor: default;}



@media (max-width: 767px) { 

    .productsList{
        padding-bottom: 40px;
    }
    .product{
        margin: 40px auto 0!important;
        max-width: 60%;
    }
    
        .product .containerImage{
            width: 100%;
            max-width: 250px;
            height: 300px;
        }

            /* .product .productImage{
                width: 100%;
                height: 373px;
            } */

        .product .productName,
        .product:nth-of-type(2n) .productName{
            /* top: 115px!important; */
            top: -22px!important;
            left: 50%;
            right: auto;
            margin-left: -78px;
            text-align: center;
        }            

            .product .productName:before{
                height: 0px;
            }

            .product .productName span{
                text-align: center;
                margin: 0 auto;
            }

            .product .productName span:before{
                background-color: rgba(240, 240, 240, 1); 
                width: 100%;
            }

            .product .productName span:first-of-type{
                padding-left: 10px;
                margin-left:0;
            }

        .product:nth-of-type(2n){
            /* margin-top: 40px; */
            transform: translate3d(0,0,0) !important;
        }
}