.productsList{
    background: url(assets/B_Simbolo_estatico_Corpo.svg) no-repeat 65% bottom fixed;
    background-color: #F0F0F0;
    -webkit-background-size: 200px;
    -moz-background-size: 200px;
    -o-background-size: 200px;
    background-size: 200px;

    padding-top: 230px;
}

    .productsList::before {
        content: "";
        display: block;
        background: linear-gradient(to bottom, rgba(240, 240, 240, 0), #F0F0F0);
        width: 100%;
        height: 100px;
    }


    .productsList .container {
        background-color: #F0F0F0;
        max-width: 900px;
    }

.product{
    position: relative;
    transform: translateZ(.25px);
    cursor: url('assets/favicon.ico/favicon-16x16.png'), auto;	
}

    .product .containerImage{
        width: 200px;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;
    }

    .product .productImage{
        width: 260px;
        height: 373px;
        
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        background-position: center;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .product .productName{
        width: 120px;
        position: absolute;
        right: -20px;
        top: 210px;
        z-index: 2;
        text-align: left;
        
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        .product .productName:before{
            content: '';
            display: block;
            border: 1px solid #333;
            width: 32px;
            display: block;
            position: absolute;
            top: 12px;
            left: -10px;
        }

        .product .productName span{
            position: relative;
            display: inline-block;
            padding: 1px 10px;
        }


        .product .productName span:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 0;

            background-color: rgba(240, 240, 240, 0);
            
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; 
       
        }

        .product .productName span:first-of-type{
            padding-left: 20px;
            margin-left: 10px;
        }


    .product:nth-of-type(2n){
        margin-top: 250px;
        transform: translateZ(.7px) scale(1);
    }

    .product:nth-of-type(2n) .productName{
        top: 40px;
    }


.product:hover .productImage{ transform: scale(1.1); }
.product:hover .productName{ top: 115px;}

.product:hover .productName span:before{
    background-color: rgba(240, 240, 240, 1); 
    width: 100%;
}



@media (max-width: 767px) { 

    .product{
        margin: 40px auto 0!important;
        max-width: 60%;
    }
    
        .product .containerImage{
            width: 100%;
            height: 100%;
        }

            .product .productImage{
                width: 100%;
                height: 373px;
            }

        .product .productName{
            top: 115px!important;
        }
            .product .productName span:before{
                background-color: rgba(240, 240, 240, 1); 
                width: 100%;}

        .product:nth-of-type(2n){
            margin-top: 40px;
            transform: translate3d(0,0,0) !important;
        }
       


}